.layout-sider {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 30%;
  min-width: 300px;
  background-color: #f7f7f7;
  padding: 150px 0 50px;
  display: flex;
  flex-flow: column nowrap;
  z-index: 10;

  &-radio {
    // flex: 1;
  }

  &-nav {
    flex: 1;
    overflow: hidden auto;
  }
}